.gallery-header * {
  opacity: 0;
}
.gallery-modal {
  transition: opacity 0.4s ease;
  pointer-events: none;
}
.gallery-modal.active {
  opacity: 1;
  pointer-events: auto;
}
.no-touch .gallery-header-link {
  transition: opacity 0.2s ease;
}
.no-touch .gallery-header-link:hover {
  opacity: 0.5;
}
.no-touch .gallery-modal-close {
  transition: opacity 0.2s ease;
}
.no-touch .gallery-modal-close:hover {
  opacity: 0.5;
}