.gallery-modal.active .slideshow-featured-item.active {
  pointer-events: auto;
}
.slideshow-featured-item.active {
  opacity: 1;
}
.no-touch .slideshow-nav {
  transition: opacity 0.2s ease;
}
.no-touch .slideshow-nav:hover {
  opacity: 0.5 !important;
}
.slideshow-thumb-link {
  opacity: 0.3;
  transition: opacity 0.2s ease;
}
.slideshow-thumb-link.active {
  opacity: 1;
}
.no-touch .slideshow-thumb-link:hover {
  opacity: 1;
}