.explorer-wheel-text {
  padding-top: 2px;
}
.wheel-circle {
  animation: spin 10s linear infinite;
  display: block;
  height: 100%;
  transform-origin: center;
  width: 100%;
}
.wheel-text {
  fill: var(--white);
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}